# Tuple

t1=(23,4,6,6,7,8,8)
t2=(3,45,78,99,54)

In [2]:
t1[0]="45"

TypeError: 'tuple' object does not support item assignment

In [4]:
t1+t2

(23, 4, 6, 6, 7, 8, 8, 3, 45, 78, 99, 54)

In [11]:
t1.index(8)

5

In [13]:
# Databases info stored as tuple
#nested tuple

In [14]:
t3=([2,32,44,4,4],3223,2323,32,(23,23,323))

In [15]:
t3

([2, 32, 44, 4, 4], 3223, 2323, 32, (23, 23, 323))

In [16]:
t3[0][1]="ded"

In [17]:
t3

([2, 'ded', 44, 4, 4], 3223, 2323, 32, (23, 23, 323))

In [19]:
t3[0]=23

TypeError: 'tuple' object does not support item assignment

# Sets

In [29]:
#no duplicacy of elements 
#unordered collection of unique elements
s={2,3,4,5,6,7,8,9,97,5}

In [21]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 97}

In [22]:
x={}
type(x)

dict

In [24]:
v=list(s)

In [25]:
v[0]

97

In [26]:
s[0]

TypeError: 'set' object is not subscriptable

In [27]:
s.add(233)

In [28]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 97, 233}

In [30]:
{[3,2,32,32,23],3,3,3}

TypeError: unhashable type: 'list'

In [31]:
{(3,2,32,32,23),3,3,3}

{(3, 2, 32, 32, 23), 3}

In [33]:
#only allow immutable items inside a set
#case sensitive


# Dict

In [50]:
#key value pairs
#keys are immutable and unique
d1={'_2':'df',21:"ub"}
d2={'sd':12, 'we':234}

In [37]:
d1.values()

dict_values(['df', 'ub'])

In [39]:
d1.keys()

dict_keys(['_2', 21])

In [40]:
d1.items()

dict_items([('_2', 'df'), (21, 'ub')])

In [43]:
d1[11]='sed'

In [44]:
d1

{'_2': 'df', 21: 'sed', 11: 'sed'}

In [46]:
del d1['_2']

In [47]:
d1

{21: 'sed', 11: 'sed'}

In [53]:
d1.update(d2)#concatenation of dict not possible

In [54]:
d1

{'_2': 'df', 21: 'ub', 'sd': 12, 'we': 234}

In [55]:
keys=('sed','swnw','sjn')
value=(2323)
d=w.fomkeys(keys,value)
d

{'sed': 2323, 'swnw': 2323, 'sjn': 2323}