In [1]:
def sed():
    print('slind')

In [2]:
sed()

slind

In [3]:
type(sed())

slind

NoneType

In [4]:
def sed():
    return 10

In [5]:
sed()

10

In [6]:
type(sed())

int

In [7]:
l=[3,4,2,13,[333,2344]]
def test(a):
    n=[]
    if type(l)==list:
            for i in a:
                if type(i)==int:
                    n.append(i)
    return n

In [8]:
test([1,43,7,411,1])

[1, 43, 7, 411, 1]

In [9]:
def dic(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "invalid input"

In [10]:
dic({"23":22,"dd":132})

dict_keys(['23', 'dd'])

In [11]:
l1=[1,34,3,1,1]
l2=[23,44,2,11]
l1.extend(l2)

In [12]:
l1

[1, 34, 3, 1, 1, 23, 44, 2, 11]

In [13]:
l2

[23, 44, 2, 11]

In [14]:
def tri(n):
    for i in range(0,n+1):
        for j in range(0,i+1):
            print("@", end="")
        print('\r')

In [15]:
tri(7)

@
@@
@@@
@@@@
@@@@@
@@@@@@
@@@@@@@
@@@@@@@@

In [16]:
l1="smie"

def count():
    cut=0
    for i in l1:
        cut+=1
    print(cut)

In [17]:
count()

4

In [18]:
def er(*args):
    return args
#takes n no.inputs

In [19]:
er(21,24,1131,1314)

(21, 24, 1131, 1314)

In [20]:
def drfr(*adn,a,b,c):
    return adn,a,b,c

In [21]:
drfr(2,214,32,1,131, a=[3,31],b={131},c=23)

((2, 214, 32, 1, 131), [3, 31], {131}, 23)

In [22]:
def rf(**kwargs):
    return kwargs
#key words arguments

In [23]:
rf(a=13, b=41)

{'a': 13, 'b': 41}

In [24]:
c=lambda a,b:a+b

In [25]:
c(12,21)

33

In [26]:
x = lambda x :[i for i in x]

In [27]:
x([3,23,242422,13])

[3, 23, 242422, 13]

In [28]:
a=lambda **kwargs : kwargs

In [29]:
a(a=13,d=332)

{'a': 13, 'd': 332}

In [30]:
c=10 #global value 
def tre(c,d):
    c=5 #local value 
    return c*d

In [31]:
tre(10,2)

10

In [32]:
l=[3,4,5,1,13,1]
[(i**2,i+i) for i in l if i<4] #comprehensive way of writing lambda function

[(9, 6), (1, 2), (1, 2)]

In [33]:
l1=[]
for i in l:
    if i<4:
        l1.append((i**2,i+i))

In [34]:
l1

[(9, 6), (1, 2), (1, 2)]

In [35]:
"""string is iterable obj,not a iterator 
using iter function to convert to iterator"""

a="sudh"
a=iter(a)
next(a)

's'

In [36]:
next(a)

'u'

In [37]:
"""An Iterable is basically an object that any user can iterate over.
An Iterator is also an object that helps a user in iterating over another object (that is iterable). 
Method Used. We can generate an iterator when we pass the object to the iter() method"""

""" Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables. 
In short and simpler terms, iterable is anything that you can loop over."""

' Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables. \nIn short and simpler terms, iterable is anything that you can loop over.'

In [38]:
def getcubes(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    return l

In [39]:
getcubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [40]:
n1=0
n2=1

for i in  range(10,40):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

In [41]:
#yield function memorise save the memory
def yt(n):
    a=0
    b=1
    l=[]
    for i in range(n):
        a,b=b,a+b
        l.append(a)
    return l

In [42]:
yt(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [43]:
d1={"udh":28, 23:"kjdqwgdq",234: {238:"dmoeh", "diueg:":713}}

def tessa(d):
    l=[]
    for i in d.keys():
        if type(d[i])==dict:
            l.append(list(d[i].values()))
    return l

tessa(d1)

[['dmoeh', 713]]

In [44]:
def g(y):
    print(x)
    print(x+1)
    
x=5
g(x)
print(x)

5
6
5

In [45]:
def ded(*args):
    product=1

    for i in args:
        product=product*i
    print(args)    
    return product   

x = ded(1,2,3,4,5)
    
print(x)

(1, 2, 3, 4, 5)
120

In [46]:
 print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [47]:
# def g():
#     def f():
#         print("hey")
#         g()
#     f()    
#     print("dukkar")
# g()