# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

#### 3. Write a Python program to find the repeated items of a tuple.

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [1]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
for i in range(N):
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  print(f"{list_of_item_to_purchase}")

print(list_of_item_to_purchase)

No of item you want to purchase: 2
Enter the item that you want to purchase: sd
['sd']
Enter the item that you want to purchase: s
['sd', 's']
['sd', 's']

In [2]:
l1=[]
l1=l1+["sed",2,4,5667,4]
print(l1)

['sed', 2, 4, 5667, 4]

In [3]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  i = i + 1
  
print(list_of_item_to_purchase)

No of item you want to purchase: 2
Enter the item that you want to purchase: s
Enter the item that you want to purchase: f
['s', 'f']

In [4]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie"]
max_len=0
for name in string_example:
    print(name,len(name))
    if max_len < len(name):
        max_len=len(name)
        
print(max_len, )

bhaveen 7
abhishek 8
dew 3
dj 2
chalie 6
8

In [10]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
N = int(input("No of item you want to purchase: "))
total=0
user_input = input("Enter the item that you want to purchase: ")
for item in amazon_website:
    
    amazon_website=list()
    if item[0]==user_input:
        continue
        print(item[1])
        total=total+item[1]
        print(f"Cost of {item[0]} : {total}")
        
print(f"total is {total}")

# for i in amazon_website:
#     print(i[0])

No of item you want to purchase: 1
Enter the item that you want to purchase: shirt
total is 0

In [11]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
# for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6

In [31]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=len(l)
for i in range(a):
    for i in l:
        i=list(i)
        i[2]=500
        i=tuple(i)
        print(i)

(10, 20, 500)
(40, 50, 500)
(70, 80, 500)
(10, 20, 500)
(40, 50, 500)
(70, 80, 500)
(10, 20, 500)
(40, 50, 500)
(70, 80, 500)

In [20]:
t=(70, 80, 90)
t[2]

90

In [34]:
l1=[1,2,3,4,5,3,3,2]
l2=[]
for i in range(len(l1)):
    l2.append(i)
print(l2

[0, 1, 2, 3, 4, 5, 6, 7]

In [2]:
a=12

# if type(a)==int:
    
#     or---
    
if isinstance(a, int):
    print("yes")
    
else:
    print("no")

yes

In [3]:
a=15
def fun():
    b=14
    print(b, end=" ")

fun()
print(a)

14 15

In [1]:
t=(1,2,3,4,2)
t.count(2)

2

In [5]:
l={1,2,3,4,2,1,3}
print(l)
l.pop()

{1, 2, 3, 4}

1

In [6]:
l.pop()

2

In [9]:
type(True)

bool